@import url(https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: "Karla", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  width: 100%;
  width: 400px;
  height: 460px;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #0b2434;
  margin-top: 60px;
}

.wrapper {
  width: 300px;
  height: 355px;
  padding: 55.28px 32.56px 33.92px 34.56px;
  align-items: center;
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;
  border-radius: 10px;
  background: #f5f5f5;
  padding-top: 10px;
}

.text {
  color: #2b283a;
  text-align: center;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.768px;
}

.Btn {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  padding-top: 50px;
  cursor: pointer;
}
.item {
  width: 35px;
  height: 35px;
  background-color: #e4dcdc;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}


.item:hover {
  background: #5035ff;
}

.btn {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background: #5035ff;
  color: #fff;
  font-family: "Karla";
  font-size: 16.384px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  width: 92.16px;
  height: 35.84px;
  cursor: pointer;
  border: none;
}
